@model List<BlogSoftUni.Models.Article>

@{
    ViewBag.Title = "List";
}

<div class="container">
    <div style=" height:500px;"class="row">
        @foreach (var article in Model)
        {
            <div style="color:white;" class="col-sm-6">
                <article>
                    <header>
                        <h2 style="font-family:Impact;">
                            @Html.ActionLink(@article.Title, "Details", "Article", new { @id = article.Id }, null)
                        </h2>
                    </header>
                    <p style="border: 2px dotted white;">
                        @article.Content
                    </p>
                    <footer class="pull-right">
                        <small class="author">
                            --author @article.Author.FullName
                        </small>
                    </footer>
                </article>
            </div>
        }
    </div>
</div>

