@model List<BlogSoftUni.ImageGallery>

@{
    ViewBag.Title = "Gallery";
}

<h2>Gallery</h2> 
<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Upload New", "Upload")
    }
</p>
<div class="container">
    <div class="well">
        @*Here i will show the Uploaded images*@
        <table>
            @{
                int j = 0;
                for (int i = 0; i < Model.Count(); i++)
                {
                    j = i;
                    <tr>
                        @*I Have done this for show 4 images in a Row*@
                        @while (j < i + 4 && j < Model.Count())
                {
                            <td>
                                <img src="data:image/png;base64,@Convert.ToBase64String(Model[j].ImageData,0, Model[j].ImageData.Length)" width="300" />
                            </td>
                            j++;
                        }
                    </tr>
                }
            }
        </table>
        <p>
           
        </p>

    </div>
</div>
@if (User.IsInRole("Admin"))
            {
    @Html.ActionLink("Delete", "Delete")
}