@model List<BlogSoftUni.ImageGallery>

@{
    ViewBag.Title = "Gallery";
}

 <h2 style ="text-align: center; font-family: Impact; letter-spacing: 10px; width: 30%; margin: auto; margin-top: 40px; ">Gallery</h2> 
<p style="width: 50%; margin: auto; margin-top: 20px; background-color: #000; text-align:center;">
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Upload New", "Upload", null,
        new { @style="font-size:20px; color:#fff; font-family:Impact; letter-spacing:3px;  "})
    }
</p>
<div class="container">
    <div class="well">
        @*Here i will show the Uploaded images*@
        <table>
            @{
                int j = 0;
                for (int i = 0; i < Model.Count(); i++)
                {
                    j = i;
                    <tr>
                        @*I Have done this for show 4 images in a Row*@
                        @while (j < i + 4 && j < Model.Count())
                {
                            <td>
                                <img src="data:image/png;base64,@Convert.ToBase64String(Model[j].ImageData,0, Model[j].ImageData.Length)" width="300" />
                            </td>
                            j++;
                        }
                    </tr>
                }
            }
        </table>
       

    </div>
</div>
     
               @if (User.IsInRole("Admin"))
               {
                   <p style ="width: 50%; margin: auto; margin-top: 20px; background-color: #000; text-align:center;">
                       @Html.ActionLink("Delete", "Delete", null,
        new { @style = "font-size:20px; color:#fff; font-family:Impact; letter-spacing:3px;  " })
                       </p>
               }
